<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'groups/css/materialize.css' %}">
    <script type = 'text/javascript' src = "{% static 'groups/js/jquery.js' %}"></script>
    <script type = 'text/javascript' src = "{% static 'groups/js/materialize.js' %}"></script>
</head>
<body>
<div class="container">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Memberships</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>Hello {{request.user.first_name}}  {{request.user.last_name}}!</li>
                <li><a href="/groups/">Dashboard</a></li>
                <li><a href="/users/logout/">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>


    {% block content %}{% endblock %}
</body>
</html>